* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: slide 40s infinite;
}
.logo {
  position: absolute;
  width: 300px;
  height: auto;
  left: 0px;
  margin-top: -80px;
  margin-left: -40px;
}
.content {
  width: 100%;
  margin: auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  z-index: 1;
}
nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
ul {
  list-style: none;
  background: transparent;
}
ul li {
  display: inline-block;
  position: relative;
  word-spacing: 2px;
  letter-spacing: 2px;
}
ul li a {
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.777);
}
nav.black {
  background: #00000065;
  backdrop-filter: blur(7px);
}
.title h1 {
  font-size: 190px;
  font-weight: 900;
  line-height: 90px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 2px white;
  color: transparent;
  background-image: url(back.png);
  background-position: -910px 0;
  animation: backcolor 5s linear infinite alternate;
  padding: 30px 20px 30px 40px;
  -webkit-background-clip: text;
  text-shadow: 0px 0px 20px rgba(129, 123, 123, 0.324);
}

@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}

.title h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 160%);
  color: aliceblue;
  position: absolute;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.777);
}
/* slideshow animation */
@keyframes slide {
  0% {
    background-image: url(wall6.jpg);
  }
  10% {
    background-image: url(wall4.jpg);
  }
  20% {
    background-image: url(wall5.jpg);
  }
  30% {
    background-image: url(wall5.jpg);
  }
  40% {
    background-image: url(wall3.jpg);
  }
  50% {
    background-image: url(wall3.jpg);
  }
  60% {
    background-image: url(wall6.jpg);
  }
  70% {
    background-image: url(wall6.jpg);
  }
  80% {
    background-image: url(wall5.jpg);
  }
  90% {
    background-image: url(wall5.jpg);
  }
  100% {
    background-image: url(wall6.jpg);
  }
}
ul li ul.dropdown li {
  display:block;
  height: 60px;
  line-height: 20px;
}
ul li ul.dropdown {
  width: 100%;
  background: rgba(10, 227, 151, 0.955);
  position: absolute;
  z-index: 999;
  display: none;
  border: 2px solid transparent;
  border-radius: 7px 7px 10px 10px;
  align-items: center;
  justify-content: center;
}
ul li:hover ul.dropdown {
  display: block;
  font-size: 18px;
  height: 900%;
}
#dropdown:hover
{
  background-color: rgba(0, 0, 0, 0.363);
  border: 1px solid transparent;
  border-radius: 10px;
}
#nav:hover
{
  background-color: rgba(0, 0, 0, 0.244);
  border: 1px solid transparent;
  border-radius: 7px;
}