* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: slide 40s infinite;
}
.logo {
  position: absolute;
  width: 300px;
  height: auto;
  left: 0px;
  margin-top: -80px;
  margin-left: -40px;
  
}
.content {
  width: 100%;
  margin: auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  z-index: 1;
  
}
nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  
}
ul {
  list-style: none;
  background: transparent;
}
ul li {
  display: inline-block;
  position: relative;
  word-spacing: 2px;
  letter-spacing: 2px;
}
ul li a {
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.777);
}
nav.black {
  background: #00000065;
  backdrop-filter: blur(7px);
}
.title h1 {
  font-size: 190px;
  font-weight: 900;
  line-height: 90px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 2px white;
  color: transparent;
  background-image: url(back.png);
  background-position: -910px 0;
  animation: backcolor 5s linear infinite alternate;
  padding: 30px 20px 30px 40px;
  -webkit-background-clip: text;
  text-shadow: 0px 0px 20px rgba(129, 123, 123, 0.324);
}

@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}

.title h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 160%);
  color: aliceblue;
  position: absolute;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.777);
}
/* slideshow animation */
@keyframes slide {
  0% {
    background-image: url(wall6.jpg);
  }
  10% {
    background-image: url(wall4.jpg);
  }
  20% {
    background-image: url(wall5.jpg);
  }
  30% {
    background-image: url(wall5.jpg);
  }
  40% {
    background-image: url(wall3.jpg);
  }
  50% {
    background-image: url(wall3.jpg);
  }
  60% {
    background-image: url(wall6.jpg);
  }
  70% {
    background-image: url(wall6.jpg);
  }
  80% {
    background-image: url(wall5.jpg);
  }
  90% {
    background-image: url(wall5.jpg);
  }
  100% {
    background-image: url(wall6.jpg);
  }
}
ul li ul.dropdown li {
  display:block;
  height: 60px;
  line-height: 20px;
}
ul li ul.dropdown {
  width: 100%;
  background: rgba(10, 227, 151, 0.955);
  position: absolute;
  z-index: 999;
  display: none;
  border: 2px solid transparent;
  border-radius: 7px 7px 10px 10px;
  align-items: center;
  justify-content: center;
}
ul li:hover ul.dropdown {
  display: block;
  font-size: 18px;
  height: 900%;
}
#dropdown:hover
{
  background-color: rgba(0, 0, 0, 0.363);
  border: 1px solid transparent;
  border-radius: 10px;
}
#nav:hover
{
  background-color: rgba(0, 0, 0, 0.244);
  border: 1px solid transparent;
  border-radius: 7px;
}
section
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #1f242d;
  overflow-x: hidden;
}
.sec-1 h1{
  font-family:"Poppins", sans-serif;
  font-size: 100px;
  color: aliceblue;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.777);
}
.tech
{
  color: rgba(255, 100, 3, 0.946);
}
.sec-1 p
{
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-size: 35px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.988);
  font-weight: 700;
}
.bold
{
  font-weight: 800;
  color: rgb(0, 255, 187);
}
.sec-4 img
{
  max-width: 400px;
  margin: 0 30px;
}
.sec-1 .animate
{
  transition: 3s;
}
.sec-1
{
  background-image: url(wall9.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: relative;
}
.sec-1::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.49);
}
.sec-1 .animate
{
  transform: translateX(-100%);
}
.sec-1.show-animate .animate
{
  transform: translateX(0);
}
.sec-2 .animate
{
  transform: scale(.7);
}
.sec-2.show-animate .animate
{
  transform: scale(1);
}
.sec-3 .animate
{
  transform: translateX(100%);
}
.sec-3.show-animate .animate
{
  transform: translateX(0);
}
.sec-2 .animate
{
  transition: 2s;
}
.sec-2 img
{
  width: 45%;
  height: 50%;
  border: 1px solid transparent;
  border-radius: 40px;
}
.sec-2
{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 70px 5px rgba(0, 221, 255, 0.482),5px 5px 70px 20px rgb(0, 0, 0);
  position: relative;
  background-image: url(wall14.jpg);
}
.sec-2::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.sec-3
{
  background-image: url(wall13.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: relative;
  box-shadow: -52px -52px 70px -25px rgba(0, 0, 0, 0.482);
}
.sec-3::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.sec-3 p
{
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-size: 35px;
  text-align: center;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  font-weight: 700;
  word-spacing: 2px;
  line-height: 50px;
}











.sec-1
{
  min-height: 100vh;
}
.sec-2
{
  min-height: 100vh;
}
.sec-3
{
  min-height: 100vh;
}
.sec-4
{
  min-height: 100vh;
}